.avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar > h4{
    text-align: center;
    color: white;
    font-size: 19px;
}

.avatar > img{
    border-radius: 12px;
    width: 80%;
    height: auto;
    max-height: 50rem;
}