.container{
  background-color: rgb(59, 59, 59);
  height: 100vh;
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}


.element-container{
  background-color: rgb(59, 59, 59);
  height: 90%;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, auto);
  justify-content: center;
}

.avatar-container{
  background-color:rgb(59, 59, 59);
}

.grid-items{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr) );
  grid-template-rows: repeat(auto-fill, minmax(80px, 100px));
  gap: 20px;
}

.item{
  display: grid;
  align-content: center;
  justify-content: center;
}

.item img{
  width: 100px;
  height: 100px;
  border-radius: 9px;
  opacity: 50%;
}

.item-selected{
  opacity: 100% !important;
}

.item-select img{
  width: 100px;
  height: 100px;
  border-radius: 9px;
  opacity: 100%;
}

.new-label{
  position: absolute;
  margin-top: 25px;
  margin-left: 80px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.remove-new-label{
  display: none;
}

